body {
  background-color: wheat;
  text-align: center;
}

.HEADER {
  margin: 50px 0px 100px 0px;
  border-bottom: solid 5px black;
}

#Job1 {
  padding: 0px 200px 50px 200px;
}

#Job2 {
  padding: 0px 200px 50px 200px;
}

#Job3 {
  padding: 0px 200px 50px 200px;
}
