body {
  background-color: wheat;
  text-align: center;
}

#addy {
  margin: 0px 200px 20px 200px;
}

h3 {
  color: steelblue;
}

.HEADER {
  margin: 50px 0px 50px 0px;
  border-bottom: solid 5px black;
  font-family: 'Courier New', Courier, monospace;
}

#Job1 {
  padding: 0px 200px 50px 200px;
  border: solid 2px brown;
  margin: 30px 100px 30px 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Job2 {
  padding: 0px 200px 50px 200px;
  border: double 2px lightsalmon;
  margin: 30px 100px 30px 100px;
  font-family: Arial, Helvetica, sans-serif;
}

#Job3 {
  padding: 0px 200px 50px 200px;
  border: dashed 2px rgb(152, 54, 16);
  margin: 30px 100px 30px 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.FOOTER {
  border-top: solid 5px black;

}
