body{
  background-color:bisque ;
}
h1{
  color: black;
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
}
.Job1{
  font-size: large;
  color:darkblue;
  text-align: center;
}
h6{
margin: 0px;}
