body{
  background-color:bisque ;
}
h1{
  color: black;
  font-size: 50px;
  text-align: center;
}
.Job1{
  header{
    text-decoration: underline;
    color:aliceblue;
  }
  font-size: large;
  color:darkblue;
}
